<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012005767688-c8g827h315llv1s9tt59a41tubu7qfla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012005767688-c8g827h315llv1s9tt59a41tubu7qfla</string>
	<key>API_KEY</key>
	<string>AIzaSyDzr5Q6QPr0eh5-EyLUDvC5FO-rmwrH1DY</string>
	<key>GCM_SENDER_ID</key>
	<string>1012005767688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.farmerchoice.shopping</string>
	<key>PROJECT_ID</key>
	<string>farmerchoice-9ed56</string>
	<key>STORAGE_BUCKET</key>
	<string>farmerchoice-9ed56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012005767688:ios:68ffc66c0ce73682271fbd</string>
</dict>
</plist>